<p id="notice"><%= notice %></p>

<p>
  <strong>Lectname:</strong>
  <%= @lecture.lectname %>
</p>

<p>
  <strong>Lecttext:</strong>
  <%= @lecture.lecttext %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
