app/views/users/show.html.erb <p>2019Sept09 /home/sf/rails_projects/2019_Oct_12_sample_app/app/views/users
<!--Листинг 7.4. Представление-заглушка для отображения информации  пользователя. -->

<%= @user.name %>, <%= @user.email %> 

<!--Листинг ?7.14. Добавление боковой панели к представлению user show. app/views/users/show.html.erb -->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
<section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

<!--Листинг 10.17. Добавление микросообщений к странице показывающей пользователя. -->

<div class="span8">
<%= render 'follow_form' if signed_in? %>

    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
<%= render partial: 'shared/feed_item', collection: @feed_items %>
       <%= render @microposts %>   
       </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>


