<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Referat", referat_path %></li> 
     <li><%= link_to "July07", july07_path %></li>
	 <li><%= link_to "Readme", readme_path %></li>
  
  



<!-- Простой маршрут  <li><%#= link_to "Referat",    "/static_pages/referat" %></li>    -->

	<li><%= link_to "TableofContents", tablecontent_path %></li>

<!-- <li><%#= link_to "tablecontent",    "/static_pages/tablecontent" %></li>    -->

      <li><a href="http://news.railstutorial.org/">News</a></li>





<!--   <a href="/static_pages/about">About</a>    -->



    </ul>
  </nav>
</footer>
